@mixin button-size($padding-x, $padding-y, $font-size, $border-radius) {
    padding: $padding-y $padding-x;
    font-size: $font-size;
    border-radius: $border-radius;
}

@mixin button-style(
    $background,
    $border,
    $color,
    $border-style,
    $hover-background: lighten($background, 7.5%),
    $hover-border: lighten($border, 10%),
    $hover-color: $color
) {
    color: $color;
    background: $background;
    border-color: $border;
    border-style: $border-style;
    &:hover {
        color: $hover-color;
        border-color: $hover-border;
        border-style: $border-style;
        background: $hover-background;
    }
    &:focus,
    &.focus {
        color: $hover-color;
        border-color: $hover-border;
        background: $hover-background;
        border-style: $border-style;
        outline: none;
    }
    &:disabled,
    &.disabled {
        color: $gray-600;
        border-color: $gray-500;
        border-style: $border-style;
        background: $gray-200;
    }
}


// alert
@mixin alert-style(
    $background,
    $border,
    $color,
) {
    color: $color;
    background: $background;
    border-color: $border;
}

@mixin zoom-animation(
  $direction: 'top',
  $scaleStart: scaleY(0),
  $scaleEnd: scaleY(1),
  $origin: center top,
) {
  .zoom-in-#{$direction}-enter {
    opacity: 0;
    transform: $scaleStart;
  }
  .zoom-in-#{$direction}-enter-active {
    opacity: 1;
    transform: $scaleEnd;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    transform-origin: $origin
  }
  .zoom-in-#{$direction}-exit {
    opacity: 1;
  }
  .zoom-in-#{$direction}-exit-active {
    opacity: 0;
    transform: $scaleStart;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    transform-origin: $origin;
  }
}
@mixin fade-animation(
  $type: 'fade-in'
) {
  .#{$type}-enter {
    opacity: 0;
  }
  .#{$type}-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }
  .#{$type}-exit {
    opacity: 1;
  }
  .#{$type}-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }
}
